/* colors -> https://coolors.co/e54b4b-ebebd3-464655-e4b363-e8e9eb */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  background-color: rgb(255, 246, 221);
  font-family: 'courier new', monospace;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

/* header */

header {
  background: #E54B4B;
  color: #EBEBD3;
  padding: 1em 0;
  position: relative;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms;
/*   display: none; */
}

.site-nav--open {
  clip-path: circle(250% at top right);
/*   display: block; */
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #EBEBD3;
  display: block;
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {

  .menu-toggle {
    display: none;
  }

  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
  }

  .site-nav li {
    display: inline-block;
    border: none;
  }

  .site-nav a {
    padding: 0;
    margin-left: 3em;
  }

  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }

  .site-nav--icon {
    display: none;
  }

}

/* footer */

footer {
  background-color: #E54B4B;
  text-decoration: none;
  text-align: center;
  font-weight: light;
  font-size: 1.1em;
  margin-top: auto;
}

.footer-p {
  font-style: italic;
  color: #EBEBD3;
}

/* section-1 */

.intro-card {
  float: left;
  background-color: rgb(255, 246, 221);
  border-radius: 20px;
  padding: 0px 10px 60px 10px;
  font-weight: lighter;
  width: 40%;
  margin: 100px;
}

.inner-card {
  padding: 20px;
}

.join-button {
  margin-top: 15px;
  width: 4.5em;
  border-radius: 0;
  padding: 4px;
  color: black;
  background-color: rgb(254, 211, 93);
}

.intro-card h1 {
  font-size: 2em;
  font-weight: lighter;
}

.section-1 {
  background-image: url(maik-jonietz-nZcMWOKAJrY-unsplash.jpg);
  background-size: cover;
}

.copy-right {
  color: white;
}

.s2content {
  margin: 20px;
}

.s2content h1 {
  font-size: 2em;
  font-weight: lighter;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  padding: 20px 10px 20px 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card-content {
  border: 2px solid gray;
  border-radius: 10%;

}
